<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-employee-heading" jhiTranslate="recruitApp.employee.home.createOrEditLabel">Create or edit a Employee</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!employee.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="employee.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recruitApp.employee.firstName" for="field_firstName" [ngbTooltip]="'recruitApp.employee.help.firstName' | translate">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="employee.firstName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recruitApp.employee.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="employee.lastName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recruitApp.employee.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="employee.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recruitApp.employee.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                        [(ngModel)]="employee.phoneNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recruitApp.employee.hireDate" for="field_hireDate">Hire Date</label>
                    <div class="d-flex">
                        <input id="field_hireDate" type="datetime-local" class="form-control" name="hireDate" [(ngModel)]="hireDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recruitApp.employee.salary" for="field_salary">Salary</label>
                    <input type="number" class="form-control" name="salary" id="field_salary"
                        [(ngModel)]="employee.salary" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recruitApp.employee.commissionPct" for="field_commissionPct">Commission Pct</label>
                    <input type="number" class="form-control" name="commissionPct" id="field_commissionPct"
                        [(ngModel)]="employee.commissionPct" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recruitApp.employee.department" for="field_department">Department</label>
                    <select class="form-control" id="field_department" name="department" [(ngModel)]="employee.department" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departmentOption.id === employee.department?.id ? employee.department : departmentOption" *ngFor="let departmentOption of departments; trackBy: trackDepartmentById">{{departmentOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recruitApp.employee.manager" for="field_manager">Manager</label>
                    <select class="form-control" id="field_manager" name="manager" [(ngModel)]="employee.manager" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id === employee.manager?.id ? employee.manager : employeeOption" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
